* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

input[type='text'] {
  margin-top: 2rem;
  padding: 8px;
}

button {
  padding: 9px;
  background-color: cyan;
  outline: none;
  border: 1px solid cyan;
  margin-left: 1rem;
  cursor: pointer;
}

ul {
  margin-top: 2rem;
  list-style: none;
}

li {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.todo-title {
  font-size: 20px;
  font-weight: 600;
}

.del-btn {
  background-color: red;
  color: white;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
}

input[type='checkbox']:checked + span {
  text-decoration: line-through;
}

